<body ng-controller="initialCtrl" >
    <header class="header_Cont">
        <div type="button" class="coursor_pointer">
            <img src="images/icons/Search.svg" alt="">
        </div>
        <div class="font_Lora_Dev">
            DevMountain
        </div>
        <div>
            <img src="images/icons/Ham.svg" alt="">
        </div>
    </header>
    <section class="mid_Mid_Section">

        <div class="welcome_To_Dev initial_Input_Box_Size">
            <div class="text_Center_Wrap">
                <p>Welcome to <span class="tourquios_teal_color">DevMountain</span> Social <br> Add Some Info So Friends Can Find You</p>
            </div>
            <input class="main_Input" type="text" value="Full Name" placeholder="Full Name" ng-model="fullName"></input>
            <input class="main_Input" type="text" placeholder="Tagline" ng-model="tagline" ></input>
            <input class="main_Input" type="text" placeholder="Profile Image Url" ng-model="profileImg"></input>
            <textarea class="inital_textarea" placeholder="Bio" ng-model="bio"></textarea>
            <input class="main_Input_Button" type="button" ui-sref="landing({ name: fullName })" value="Save Changes" ng-click="sendData(fullName, tagline, profileImg, bio)"></input>

        </div>
        <div class="triange_Box_Size">
            <div class="dimond_container">
                <div class="diamond-narrow"></div>
                <div class="triangle-narrow">
                  <div class="triangle-narrow_background_img"></div>
                </div>
                <div class="triangle_hack_cover"></div>
            </div>
        </div>
    </section>
    <footer class="footer_Container" ng-controller="navCtrl">
  		<div class="bottom-nav">
  			<div ng-class="classActive('/view_Friends')"  ui-sref="View">View Friends</div>
  		</div>
  		<div class="bottom-nav">
  			<div ng-class="classActive('/find_Friends')" ui-sref="Find">Find Friends</div>
  		</div>
  		<div class="bottom-nav">
  			<div ng-class="classActive('/update_Profile')"  ui-sref="Update({id: person._id })">Update Profile</div>
  		</div>
  	</footer>
</body>
