body{
  display: block;
  height: 100%;
  margin: 25px 40px 0 40px;
}

.main_Input {
  border-color: #B6B6B6;
  color: #B6B6B6;
  padding: 4px;
  border-width: 1px;
  font-size: 19px;
  width: 375px;
  font-family: 'Lora', serif;
  margin: 4px 0px 4px 0px;
}
.main_Input_Button{
  background-color: #00FFE9;
  border: 0;
  padding: 4px;
  font-size: 19px;
  width: 385px;
  font-family: 'Lora', serif;
  margin: 4px 0px 4px 0px;
}
.inital_textarea{
  border-color: #B6B6B6;
  color: #B6B6B6;
  padding: 4px;
  font-size: 19px;
  width: 375px;
  height: 250px;
  font-family: 'Lora', serif;
  margin: 4px 0px 4px 0px;
  resize: none;
}
a{
  font-family: 'Open Sans', serif;
  font-size: 18px;
  text-decoration: none;
  outline: none;
}
.search_icon:hover {
  cursor: pointer;

}
.tourquios_teal_color{
  color: #74FDF2;
}
.text_Center_Wrap {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.header_Cont {
  width: auto;
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  justify-content: space-between;
  border-bottom: 1px solid #D7D7D7;
}
.mid_Mid_Section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 725px;
}
.welcome_To_Dev {
  font-family: 'Lora', serif;
  font-size: 21px;
  color: #272727;
  text-align: center;
}
.welcome_Text_Box_Size{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 60px;
  width: 325px;
  margin-left: 50px;
  text-align: justify;
}

.font_Lora_Dev {
  font-family: 'Lora', serif;
  font-size: 21px;
}
.triange_Box_Size{
  display: flex;
  justify-content: center;
  width: 60%;
}

#diamond-narrow {
  background-image: url("https://pbs.twimg.com/profile_images/820457701813518337/VmhyKoOz_bigger.jpg");
  margin-left: 25px;
  margin-top: 102px;
  border: 250px solid white;
  border-left-width: 250px;
  border-right-width: 250px;
	border-bottom-width: 350px;
  border-bottom-style: transparent;
  border-bottom-color: transparent;
	position: relative;
  border-top-width: 0px;
  transform: rotate(6deg);
}
#diamond-narrow:after {
	content: '';
	position: absolute;
	left: -225px;
  top: 207px;
	border: 250px solid transparent;
  border-bottom-width: 0px;
	border-top: 350px solid #74FDF2;
  transform: rotate(-14deg);
}
.footer_Container {
  border-top: 2px solid #A9A9A9;
  height: 50px;
  margin: 0px 50px 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.loaded {
    border-bottom: 3px solid #74FDF2;
  }
.bottom-nav {
   padding: 10px;
   cursor: pointer;
 }


 /*landing additions*/


 .triangle_Header {
   background-image: url("https://pbs.twimg.com/profile_images/820457701813518337/VmhyKoOz_bigger.jpg");
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 39px 25px 0 25px;
   border-color: transparent white white white;
 }
 .input_Triangle_Box {
   border-color: #B6B6B6;
   color: #B6B6B6;
   border-width: 0px;
   background-color: #ECECEC;
   font-size: 17px;
   height: 25px;
   width: 100px;
   margin-left: 5px;
   font-family: 'Lora', serif;
 }
 .top_Input_Triange_Fix {
   display: flex;
 }
 .first_Name_Flex{
   display: flex;
   justify-content: flex-start;
 }
 .last_Name_Flex{
   display: flex;
   justify-content: flex-end;
 }
 .name_Size_Font {
   font-family: 'Lora', serif;
   font-size: 46px;
 }
 .tagline_Name_Font{
   font-family: "Open Sans", serif;
   font-weight: 600;
   font-size: 14px;
   padding: 15px 0 15px 0;
 }
 .bio_text_box{
   height: 350px;
   font-family: "Open Sans", serif;
   font-size: 14px;
   overflow: scroll;
 }

 /*update Profile */
